#dependencies {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	background: $dropzoneBackground;
	display: none;
	text-align: center;

	.logo {
		$height: 100px;
		width: $height * $logoRatio;
		height: $height;
		margin-bottom: $bodyPadding/2 - 5px;
		display: inline-block;
		opacity: 0.5;
		animation: logo 4s infinite linear;
	}

	.dependency-message {
		color: $gray2;
		font-size: $fontSizeSmall;
		margin-top: $fontSize;

		.ellipsis {
			display: inline-block;
			width: 1em;
			text-align: left;

			&:after {
				overflow: hidden;
				display: inline-block;
				vertical-align: bottom;
				animation: ellipsis steps(4,end) 1.5s infinite;
				content: "\2026";
				width: 0px;
			}
		}
	}

	.cli-message {
		font-size: $fontSizeSmall;
		padding-top: $fontSize;
		margin-top: $fontSize;
		color: $gray1;
		height: 38px;
		border-top: 1px solid $grayLight;
	}
}

@keyframes ellipsis {
  to {
    width: 1em;    
  }
}

@keyframes logo {
	0% { -webkit-filter: hue-rotate(0); transform: scale(1)}
	50% { -webkit-filter: hue-rotate(180deg); transform: scale(1.15)}
	100% { -webkit-filter: hue-rotate(360deg); transform: scale(1)}
}

.INSTALLING_DEPENDENCIES,
.INTERNET_IS_DISCONNECTED {
	#dependencies {
		display: flex;
	}
}

.installing-dependencies, .no-internet {
	margin: auto;
	width: 600px;
}

.no-internet {
	display: none;

	.text {
		margin-bottom: $bodyPadding/2 - 5px;
	}
}

.INTERNET_IS_DISCONNECTED {
	.installing-dependencies {
		display: none;
	}
	
	.no-internet {
		display: block;
	}
}