@mixin dropzone-showing {
	background: $dropzoneBackground;

	#main-content {
		// Can't just use display: none because FontResizer won't be able
		// to calculate the initial font size
		visibility: hidden;
	}
}

.dropzone {
	display: flex;
	height: 100vh;
	padding: $bodyPadding*1.75 $bodyPadding;
	@include dropzone-showing;
	position: relative;

	> div {
		margin: auto;
	}
}

.dropzone-message {
	display: none;
	text-align: center;
	font-size: $fontSizeSmall;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1 {
		font-size: 50px;
		margin-bottom: 10px;
	}
}

.appIsLaunching .dropzone, .dropzone.active {
	@include dropzone-showing;
}

.appIsLaunching.FINISHED_INSTALLING_DEPENDENCIES .dropzone .dropzone-message {
	display: block;
}

.FINISHED_INSTALLING_DEPENDENCIES:not(.appIsLaunching) {
	.dropzone {
		background: none;
	}

	#main-content {
		visibility: visible;
	}
}