@mixin dropzone-showing {
	background: $dropzoneBackground;

	#main-content {
		display: none;
	}
}

.dropzone {
	display: flex;
	height: 100vh;
	padding: $bodyPadding*1.75 $bodyPadding;
	@include dropzone-showing;

	> div {
		margin: auto;
	}
}

.dropzone-message {
	display: none;
	text-align: center;
	font-size: $fontSizeSmall;

	h1 {
		font-size: 50px;
		margin-bottom: 10px;
	}
}

.appIsLaunching .dropzone, .dropzone.active {
	@include dropzone-showing;
}

.appIsLaunching.DEPENDENCIES_INSTALLED .dropzone .dropzone-message {
	display: block;
}

.DEPENDENCIES_INSTALLED:not(.appIsLaunching) {
	#main-content {
		display: block;
	}
}